// ==========================================================================
// Functions
// ==========================================================================
@use "sass:map";
@use "sass:math";
@use "variables";

// Calculate em values
@function em($target, $context: variables.$base__font-size) {
  @return math.div($target, $context) * 1em;
  }


// Calculate rem values
@function rem($target, $context: variables.$base__font-size) {
  @return math.div($target, $context) * 1rem;
  }

// Call the color palette modifiers
@function palette($palette, $shade: 'base') {
  @return map.get(map.get(variables.$palettes, $palette), $shade);
  }
