// ==========================================================================
// Variables
// ==========================================================================
@use "sass:color";

// Font Stacks
$font-url--google    : 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap';
$font-family-primary : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-weight--light  : 300;
$font-weight--medium : 400;
$font-weight--bold   : 700;

// Text
$base__font-size     : 16px;


// Descriptive Base Colors
$white               : #FFF;
$whitesmoke          : whitesmoke;
$black               : #0B0B0B;
$grey                : #AAA;
$green               : #78CF82;
$red                 : #D94545;

$pickled-bluewood    : #2C3E50;
$chalky              : #F0CEA4;

// color Usage
$color-primary       : $chalky;
$color-secondary     : $pickled-bluewood;
$success             : $green;
$alert-red           : $red;

// Color Palette Modifiers
$palettes            : (
        chalky: (
                light : color.adjust($chalky, $lightness : 8%),
                base : $chalky,
                dark : color.adjust($chalky, $lightness : -8%)
        ),
        grey: (
                xx-light : color.adjust($grey, $lightness : 43%),
                x-light : color.adjust($grey, $lightness : 35%),
                light : color.adjust($grey, $lightness : 12%),
                base : $grey,
                dark : color.adjust($grey, $lightness : -8%),
                x-dark : color.adjust($grey, $lightness : -16%)
        ),
        black: (
                light : color.adjust($black, $lightness : 10%),
                base : $black,
                dark : color.adjust($black, $lightness : -10%)
        )
);

// Breakpoints
$breakpoints         : (
        'xm': 320px,
        'sm': 576px,
        'med': 768px,
        'lg': 992px,
        'xl': 1200px,
);
