<script setup>
import {ref, inject} from 'vue'
import AppLoader from "@/components/UI/AppLoader.vue";
import {ContentLoader} from 'vue-content-loader'

const phoneticAudio = ref(null);
const wordQuery = inject('word', '')
const definitionFetched = inject('definitionFetched')
const noWordFound = inject('noWordFound')
const imageData = inject('imageData')
const imageFetched = inject('imageFetched')
const imageLoaded = ref(false)

function onImgLoad() {
  imageLoaded.value = true
}

function getImage() {
  const firstImageAlt = imageData.val[0].alt_description
  const firstImageURL = imageData.val[0].urls.small
  const secondImageAlt = imageData.val[1].alt_description
  const secondImageURL = imageData.val[1].urls.small
  return {
    firstImageAlt, firstImageURL,
    secondImageAlt, secondImageURL
  }
}

function playAudio() {
  phoneticAudio.value.play();
}

function getMeanings() {
  const meanings = wordQuery.value.meanings
  return meanings.map(meaning => {
    return meaning
  })
}

/*
  get part of speech and the definitions in regards
  @param pos (Part of Speech)
*/
function getPartOfSpeech(pos) {
  const meaningsLength = getMeanings().length
  for (let i = 0; i < meaningsLength; i++) {
    const partOfSpeech = getMeanings()[i].partOfSpeech
    const definitionsLength = getMeanings()[i].definitions.length
    const definitions = getMeanings()[i].definitions
    for (let b = 0; b < definitionsLength; b++) {
      if (partOfSpeech === pos) {
        return definitions.map(definition => {
          return definition.definition
        })
      }
    }
  }
}

function getNounDefinitions() {
  return getPartOfSpeech('noun')
}

function getProperNounDefinitions() {
  return getPartOfSpeech('proper noun')
}

function getAdjectiveDefinitions() {
  return getPartOfSpeech('adjective')
}

function getVerbDefinitions() {
  return getPartOfSpeech('verb')
}
</script>

<template>
  <section class="word-definition" v-if="!definitionFetched && !noWordFound">
    <div class="word">
      <h1>{{ wordQuery.word.toUpperCase() }}</h1>
      <span>{{ wordQuery.phonetic }}</span>
      <button class="audio" type="button" @click.prevent="playAudio" v-show="wordQuery.phonetics[0].audio">
        <audio ref="phoneticAudio" :src="wordQuery.phonetics[0].audio">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-volume" width="24" height="24"
             viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M15 8a5 5 0 0 1 0 8"></path>
          <path d="M17.7 5a9 9 0 0 1 0 14"></path>
          <path
              d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a0.8 .8 0 0 1 1.5 .5v14a0.8 .8 0 0 1 -1.5 .5l-3.5 -4.5"></path>
        </svg>
      </button>
    </div>

    <!--  Definitions for noun  -->
    <div class="noun">
      <h2>Noun</h2>
      <ul>
        <li class="definition" v-for="(definition, id) in getNounDefinitions()" :key="id">{{ definition }}</li>
      </ul>
    </div>

    <div class="first-image">
      <ContentLoader height="400" speed.number="3" viewBox="0 0 400 400" v-if="!imageLoaded">
        <rect x="4" y="-2" rx="2" ry="2" width="400" height="400" />
      </ContentLoader>
      <img :src="getImage().firstImageURL" :alt="getImage().firstImageAlt" @load="onImgLoad"
           v-show="imageLoaded && !imageFetched" />
    </div>

    <!--  Definitions for proper noun  -->
    <!--    <div class="proper-noun" v-if="getProperNounDefinitions()">-->
    <!--      <h2>Proper noun</h2>-->
    <!--      <ul>-->
    <!--        <li class="definition" v-for="(definition, id) in getProperNounDefinitions()" :key="id">{{ definition }}</li>-->
    <!--      </ul>-->
    <!--    </div>-->

    <div class="second-image" v-if="getAdjectiveDefinitions()">
      <ContentLoader height="400" speed.number="3" viewBox="0 0 400 400" v-if="!imageLoaded">
        <rect x="4" y="-2" rx="2" ry="2" width="400" height="400" />
      </ContentLoader>
      <img :src="getImage().secondImageURL" :alt="getImage().secondImageAlt" @load="onImgLoad"
           v-show="imageLoaded && !imageFetched" />
    </div>

    <!--  Definitions for adjective  -->
    <div class="adjective" v-if="getAdjectiveDefinitions()">
      <h2>Adjective</h2>
      <ul>
        <li class="definition" v-for="(definition, id) in getAdjectiveDefinitions()" :key="id">{{ definition }}</li>
      </ul>
    </div>

    <!--  Definitions for verb  -->
    <div class="verb" v-if="getVerbDefinitions()">
      <h2>Verb</h2>
      <ul>
        <li class="definition" v-for="(definition, id) in getVerbDefinitions()" :key="id">{{ definition }}</li>
      </ul>
    </div>

  </section>

  <template v-if="definitionFetched && !noWordFound">
    <!-- Loading  -->
    <AppLoader />
  </template>

</template>

<style scoped lang="scss">
h1 {
  margin-bottom : 0;
  }

.audio {
  border           : none;
  background-color : transparent;
  vertical-align   : middle;
  }

img {
  border-radius : 7px;
  height        : 400px;
  max-width     : 100%;
  }

.word-definition {
  display             : grid;
  grid-template-rows  : repeat(auto-fit, 1fr);
  grid-template-areas :
    "Word"
    "Noun"
    "firstImage"
    "Adjective"
    "secondImage"
    "Verb";
  @include mq(lg) {
    grid-template-columns : 1fr 1fr;
    grid-gap              : 0 50px;
    grid-template-areas   :
    "Word ."
    "Noun firstImage"
    "secondImage Adjective"
    "Verb Verb";
    }
  justify-items       : center;
  }

.word, .verb {
  justify-self : start;
  }

.word {
  grid-area : Word;
  }

.noun {
  grid-area : Noun;
  }

.first-image {
  grid-area : firstImage;
  }

.second-image {
  grid-area : secondImage;
  }

.adjective {
  grid-area : Adjective;
  }

.verb {
  grid-area : Verb
  }

</style>
