<script setup>
import {inject} from 'vue'

const wordDefinition = inject('word', '')
const noWordFound = inject('noWordFound')
</script>

<template>
  <p v-if="wordDefinition === '' &&  !noWordFound " class="text-center">Search something...</p>
</template>

<style lang="scss" scoped>
p {
  margin-top : 100px;
  }
</style>
