<script>
export default {
  name: "AppFooter"
}
</script>

<template>
  <footer class="text-center">
    <p>&copy; 2022 MasihTak.</p>
  </footer>
</template>

<style scoped>
  footer {
    position: sticky;
    top: 100vh;
    padding: 5px 0;
  }
</style>
