<script>
export default {
  name: "AppSearchBar",
  emits: ['word-lookup', 'update:modelValue'],
  props: {
    modelValue: {
      default: '',
    }
  },
  methods: {
    wordLookup() {
      this.$emit('word-lookup')
    }
  }
}
</script>

<template>
  <div class="search-bar">
    <label class="d-block" for="search">Search</label>
    <div class="input-group">
      <input class="shadow" type="text" id="search" aria-label="Search" aria-describedby="lookup" :value="modelValue" @input="$emit('update:modelValue', $event.target.value)" @keyup.enter="wordLookup">
      <button class="shadow" type="button" id="lookup" aria-label="lookup" @click="wordLookup">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path
              d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z" />
        </svg>
      </button>
    </div>
  </div>
</template>

<style scoped lang="scss">
.search-bar {
  position    : relative;
  top         : 0;
  left        : 0;
  right       : 0;
  padding     : 50px 0;
  width       : 300px;
  margin      : 0 auto;
}

label {
  padding-bottom: 10px;
  @include mq(med) {
    font-size: 18px;
    }
}

.input-group {
  display     : flex;
  align-items : stretch;
}

input, button {
  border : none;
}

input:active, input:focus, input:focus-visible, button:focus {
  border: none;
  outline: none;
}

input {
  border-radius : 7px 0 0 7px;
  width         : 100%;
  padding       : 1.32rem .75rem;
  transition: box-shadow .3s ease-in;
  height: calc(1.5em + .75rem + 2px);
}

button {
  background-color : $color-primary;
  margin-left: -1px;
  border-radius    : 0 7px 7px 0;
  position: relative;
  z-index: 2;
  padding: .375rem .75rem;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

svg {
  fill: $white;
  filter: drop-shadow(3px 5px 2px rgba(0,0,0, .3));
  transition: rotate .3s ease-in;
}

svg:hover {
  transform: rotate(45deg);
}

.shadow {
  box-shadow    : 0.6px 4px 2.2px rgba(0, 0, 0, 0.02),
  1.4px 9.3px 5.3px rgba(0, 0, 0, 0.028),
  2.6px 17.5px 10px rgba(0, 0, 0, 0.035),
  4.7px 31.3px 17.9px rgba(0, 0, 0, 0.042),
  8.8px 58.5px 33.4px rgba(0, 0, 0, 0.05);
}

input:hover, input:focus {
  box-shadow    : 0.6px 4px 2.2px rgba(240, 206, 164, 0.4),
  1.4px 9.3px 5.3px rgba(240, 206, 164, 0.48),
  2.6px 17.5px 10px rgba(240, 206, 164, 0.54),
  4.7px 31.3px 17.9px rgba(240, 206, 164, 0.65),
  8.8px 58.5px 33.4px rgba(240, 206, 164, 0.3);
}

/* Large Devices 1024px */
@media screen and (min-width: 64rem) {
  .search-bar {
    width: 500px;
    }
  svg {
    width: 32px;
    height: auto;
    }
}

</style>
