<script setup>
import AppSearchBar from "@/components/AppSearchBar.vue";
import axios from 'axios';
import {provide, ref} from "vue";
import router from "./router";
import AppFooter from "@/components/AppFooter.vue";

// Global variables
const queryWord = ref('')
const noWordFound = ref(false)
const definitionFetched = ref(false)
const wordDefinition = ref('')
const imageData = ref('')
const imageFetched = ref(false)
const clientId = import.meta.env.VITE_IMAGE_API_CLIENT_ID
const imageAPIBaseURL = import.meta.env.VITE_IMAGE_API_BASE_URL

async function imageLookup() {
  imageFetched.value = true;
  try {
    const response = await axios.get(`${imageAPIBaseURL}search/photos?page=1&per_page=2&query=${queryWord.value}&client_id=${clientId}`)
    imageData.val = response.data.results;
    imageFetched.value = false;
  } catch (err) {
    console.error(err)
  }
}

const wordLookup = async () => {
  definitionFetched.value = true
  try {
    const response = await axios.get(`https://api.dictionaryapi.dev/api/v2/entries/en/${queryWord.value}`);
    wordDefinition.value = response.data[0];
    noWordFound.value = false
    await router.push({path: `/definition/${queryWord.value}`})
    await imageLookup()
    definitionFetched.value = false
  } catch (err) {
    definitionFetched.value = false
    noWordFound.value = true
    console.log('Oops!')
    console.error(err.message)
  }
}


provide('word', wordDefinition)
provide('noWordFound', noWordFound)
provide('definitionFetched', definitionFetched)
provide('imageData', imageData)
provide('imageFetched', imageFetched)
</script>

<template>
  <div class="container">
    <AppSearchBar v-model="queryWord" @word-lookup="wordLookup" />
    <p v-if="noWordFound" class="text-center">Nothing found! 🤦‍♂️ try something else</p>
    <router-view />
    <AppFooter />
  </div>
</template>

<style lang="scss">

body, html, .container {
  height : 100%;
  }

body {
  background-color : $whitesmoke;
  line-height      : 1.5;
  }

#app {
  font-family : Avenir, Helvetica, Arial, sans-serif;
  color       : #2C3E50;
  height      : 100vh;
  }

/* Helper class */
.d-block {
  display : block;
  }

.text-center {
  text-align : center;
  }

.container {
  padding-left  : 15px;
  padding-right : 15px;
  max-width     : 1200px;
  margin        : 0 auto;
  @include mq(med) {
    padding-left  : 30px;
    padding-right : 30px;
    }
  }

p {
  @include mq(med) {
    font-size : rem(18px);
    }
  }


h1 {
  @include mq(lg) {
    font-size : rem(40px);
    }
  }

h2 {
  @include mq(lg) {
    font-size : rem(28px);
    }
  }

li {
  @include mq(lg) {
    font-size : rem(18px);
    }
  }


</style>
